.App {
  font-family: sans-serif;
  text-align: center;
}
.Column {
  display: inline-block;
  background-color: blue;
}
.BlueBox {
  height: 110px;
  width: 105px;
  background-color: blue;
}
.Circle {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
